<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <!-- Example connection to a SQL Server Database on localhost. -->
    <!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
    <add name="MySQLConnectionString" connectionString="Server=localhost;Database=Farmacia;Uid=root;Pwd=adriano6812;Connect Timeout=30;" />
  </connectionStrings>
</configuration>